body{
    background-image: url("../images/CODE_BG.png");
    width: 100vw;
}

.navbar_icon{
    max-width: 18%;
    padding-bottom:3.5px;
}
#navbar_icontext{
    max-width: 200px;
}
#page {
	background-color: #b4b4b4;
	color: #000000;
    text-align: left;
}
#navbar_fooldal{
    color: #000000;
    font-weight: bold;
}
#navbar_fooldal:hover{
    color: #006837;
}
#footerdiv{
    background-color: #3d3d3d;
    padding: 20px 20px 20px 20px;
    text-align: center;
    color: #ffffff;
}
#discord_widget{
    align-items: center;
    margin: auto;
    text-align: center;
    background-color: #b2b2b2;
    padding-bottom: 15px;
    padding-top: 15px;
}
.discord_img{
    max-width: 100px;
}

#munkak{
margin-top: -140px;
}
#menu{
  color: #676767
}
#menu:hover{
  color: #006837
}
#menu h2{
  color: #000000
}
.image-wrapper {
  width: 60px;
  height: 40px;
  position: relative;
  margin: 2vh;
    padding: 60px;
}
.image-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: left;
}
.image-1 {
  clip-path: polygon(0 0, 0 32%, 28% 0);
  transform: translate(-10px, -10px);
  transition: transform 300ms ease;
  transform-origin: top;
    width: 128px;
}
.image-wrapper:hover .image-1 {
  transform: translate(0, 0);
}
.image-2 {
  clip-path: polygon(28% 0, 0 32%, 0 100%, 17% 100%, 90% 0);
  transform: translate(-30px, 5px);
  transition: transform 300ms ease;
    width: 128px;
}
.image-wrapper:hover .image-2 {
  transform: translate(0, 0);
}
.image-3 {
  clip-path: polygon(100% 0, 100% 65%, 74% 100%, 17% 100%, 90% 0);
  transform: translate(-15px, -10px);
  transition: transform 300ms ease;
    width: 128px;
}
.image-wrapper:hover .image-3 {
  transform: translate(0, 0);
}
.image-4 {
  clip-path: polygon(100% 65%, 74% 100%, 100% 100%);
  transform: translate(-32px, 5px);
  transition: transform 300ms ease;
  transform-origin: top;
    width: 128px;
}
.image-wrapper:hover .image-4 {
  transform: translate(0, 0);
}

