
.kurvanagyot{
    font-size: 3rem;
    font-family: Verdana;
    text-align: center;
    padding-top: 20%;
    color:white;
}
body{
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    font-color:white;
    background-color: #5a5a5a;
    max-width: 1920px;
}
#footerdiv{
    background-color: #4f4f4e;
    padding: 20px 20px 20px 20px;
    text-align: center;
}