body{
    background-image: url("../images/CODE_BG.png");
    width: 100vw;
}

.navbar_icon{
    max-width: 18%;
}
#navbar_icontext{
    max-width: 200px;
}
#page {
	background-color: #b2b2b2;
	color: #000000;
    text-align: center;
}
#navbar_fooldal{
    color: #000000;
    font-weight: bold;
}
#navbar_fooldal:hover{
    color: #006837;
}
#footerdiv{
    background-color: #3d3d3d;
    padding: 20px 20px 20px 20px;
    text-align: center;
    color: #ffffff;
}
#discord_widget{
    align-items: center;
    margin: auto;
    text-align: center;
    background-color: #b2b2b2;
    padding-bottom: 15px;
    padding-top: 15px;
}
.discord_img{
    max-width: 100px;
}