{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Code Craft Csapata</title>
    {% include 'mainpage/styles.html' %}
</head>
<body>
{% include 'mainpage/navbar.html' %}
<main>

<div class="container">
     <div class="row">
         <div class="col-md-2">
            <div class="image-wrapper">
              <img class="image-1" src="{% static 'images/Avatarok/csabi.png' %}" />
              <img class="image-2" src="{% static 'images/Avatarok/csabi.png' %}" />
              <img class="image-3" src="{% static 'images/Avatarok/csabi.png' %}" />
              <img class="image-4" src="{% static 'images/Avatarok/csabi.png' %}" />
            </div>
         </div>
         <div class="col-md-4">
             <h1>Fügedi Csaba</h1>
             <h2>Tulajdonos</h2>
         </div>
         <div class="col-md-2">
            <div class="image-wrapper">
              <img class="image-1" src="{% static 'images/Avatarok/zsu.png' %}" />
              <img class="image-2" src="{% static 'images/Avatarok/zsu.png' %}" />
              <img class="image-3" src="{% static 'images/Avatarok/zsu.png' %}" />
              <img class="image-4" src="{% static 'images/Avatarok/zsu.png' %}" />
            </div>
         </div>
         <div class="col-md-4">
             <h1>Panyi Zsuzsanna</h1>
             <h2>Webdesigner</h2>
         </div>
     </div>
    <div class="row">
         <div class="col-md-2">
            <div class="image-wrapper">
              <img class="image-1" src="{% static 'images/Avatarok/mate.png' %}" />
              <img class="image-2" src="{% static 'images/Avatarok/mate.png' %}" />
              <img class="image-3" src="{% static 'images/Avatarok/mate.png' %}" />
              <img class="image-4" src="{% static 'images/Avatarok/mate.png' %}" />
            </div>
         </div>
         <div class="col-md-4">
             <h1>Fekete Máté</h1>
             <h2>Társfejlesztő</h2>
         </div>
        <div class="col-md-2">
            <div class="image-wrapper">
              <img class="image-1" src="{% static 'images/Avatarok/tobi.png' %}" />
              <img class="image-2" src="{% static 'images/Avatarok/tobi.png' %}" />
              <img class="image-3" src="{% static 'images/Avatarok/tobi.png' %}" />
              <img class="image-4" src="{% static 'images/Avatarok/tobi.png' %}" />
            </div>
         </div>
         <div class="col-md-4">
             <h1>Csanádi B. Tóbiás</h1>
             <h2>Társfejlesztő</h2>
         </div>
     </div>
</div>




<footer>
    {% include 'mainpage/footer.html' %}
</footer>
</main>
</body>
</html>