{% load static %}
<div class="container" id="page">
    <div class="row">
        <div class="col">
            <p><img class="navbar_icon" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn2.scratch.mit.edu%2Fget_image%2Fgallery%2F288260_200x130.png%3Fv%3D1385145367.0&f=1&nofb=1"></img>Szerver-ip: code-craft.ddns.net</p>
            <p>Szerver-verzió: 1.16.5</p>
            <p>Szerver: code-craft.ddns.net</p>
        </div>
    </div>
    <div class="row">
    <div class="col" id="discord_widget">
        <widgetbot
          server="722510212409327678"
          channel="741666809832538204"
          width=80%
          height="600px">
        </widgetbot>
        </div>
    </div>
</div>

